@using PagedList;
@using PagedList.Mvc;
@model IPagedList<E_RIMS.Models.PublicRelation>

@{
    ViewBag.Title = "หน้าแรก";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">หน้าแรก</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">
        <h3>
            ข่าวประชาสัมพันธ์&nbsp;
            @if (Session["Role"] != null)
            {
                if (Session["Role"].Equals("Admin"))
                {
                    <a href="@Url.Action("AllNews", "PublicRelation")" class="btn btn-info"><i class="fa fa-plus"></i>&nbsp;จัดการข่าวประชาสัมพันธ์</a>
                }
            }
        </h3>
    </div>
    <div class="card-body">
        <h5 class="card-title"><i class="fa fa-book-medical"></i>&nbsp;@ViewBag.Title</h5>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <div class="card-deck">
                    @foreach (var item in Model)
                    {
                        <div class="col-4">
                            <div class="card" style="min-width: 18rem; max-width: 18rem;">
                                <img class="card-img-top" src="@Url.Content(item.image ?? "~/Image/no-camera.png")" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        @Html.DisplayFor(modelItem => item.newsName)
                                        @{
                                            var today = DateTime.Today; //หากเป็นเครื่องวันที่แบบคริสตศักราชให้เอา AddYears ออก
                                            var dayNews = Convert.ToDateTime(item.date);
                                            int dayBetweenNews = (today - dayNews).Days;

                                            if (dayBetweenNews <= 14)
                                            {
                                                <img src="~/Image/new-icon.jpg" height="30px" width="auto">
                                            }

                                        }
                                    </h5>
                                    <p class="card-text">@item.description.Substring(0, Math.Min(item.description.Length, 100))<a href="@Url.Action("news"+"/"+item.id,"PublicRelation")">&nbsp; อ่านต่อ</a></p>
                                    <p class="card-text"><small class="text-muted">วันที่: @Convert.ToDateTime(item.date).ToString("dd/MM/yyyy")</small></p>
                                    <p><a href="@Url.Content(item.docUpload ?? "~/Image/no-document.png")" class="btn btn-sm btn-info"><i class="fa fa-download"></i>&nbsp;ดาวน์โหลดเอกสารประกอบ</a></p>
                                </div>
                            </div>
                            <br />
                        </div>
                    }

                </div>
            </div>
        </div>
        <div class="row">
            @*<div class="col-6"></div>
                <div class="col-6">@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))</div>*@
            <div class="col-12"><a href="@Url.Action("NewsArchive","PublicRelation")" class="btn btn-info float-right"><i class="fa fa-newspaper"></i>&nbsp;ข่าวทั้งหมด...</a></div>
        </div>
    </div>
</div>


