@model E_RIMS.Models.Innovator

@{
    ViewBag.Title = "DeleteInnovator";
}

<h2>DeleteInnovator</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Innovator</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nameTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nameTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.identificationNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.identificationNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.levels)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.levels)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.houseNumberHome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.houseNumberHome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.villageNumberHome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.villageNumberHome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alleyHome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alleyHome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.roadHome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roadHome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subDistrictHome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subDistrictHome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.districtHome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.districtHome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.provinceHome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.provinceHome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postalCodeHome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postalCodeHome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.moblieNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.moblieNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.houseNumberOffice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.houseNumberOffice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.villageNumberOffice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.villageNumberOffice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alleyOffice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alleyOffice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.roadOffice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roadOffice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subDistrictOffice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subDistrictOffice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.districtOffice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.districtOffice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.provinceOffice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.provinceOffice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postalCodeOffice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postalCodeOffice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.officePhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.officePhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.officeFax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.officeFax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.officeMobileNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.officeMobileNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.education)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.education)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.specialExpertise)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.specialExpertise)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateWorkFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateWorkFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateWorkTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateWorkTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.workplace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.workplace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.positionWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.positionWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.academicWorkYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.academicWorkYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.joinDevelopmentTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.joinDevelopmentTeam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nameAcademic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nameAcademic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.publication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.publication)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
