@model E_RIMS.Models.Innovator

@{
    ViewBag.Title = "แก้ไขข้อมูลนวัตกร";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">หน้าแรก</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Innovators")">นวัตกร</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
    </ol>
</nav>

@using (Html.BeginForm(Html.BeginForm("EditInnovator", "Innovators", FormMethod.Post, new { enctype = "multipart/form-data" })))
{
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-header">
            <h3>จัดการข้อมูลนวัตกร</h3>
        </div>
        <div class="card-body">
            <h5 class="card-title">
                <i class="fa fa-user-circle"></i>&nbsp;@ViewBag.Title
            </h5>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-info-circle"></i>&nbsp;ข้อมูลทั่วไป
                        </div>
                        <div class="card-body">
                            <div class="col text-center">
                                <img src="@Url.Content(Model.image ?? "~/Image/no-camera.png")" class="rounded border border-dark" style="height:250px; margin-bottom:20px; padding:10px;" />
                            </div>
                            <div class="form-group">
                                <label>เปลี่ยนรูปประจำตัว</label>
                                <br /><input type="file" class="form-control-file" name="image2">
                                @Html.ValidationMessageFor(model => model.image2, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <label>คำนำหน้า</label>
                                    <select class="form-control" name="nameTitle">
                                        <option>นาย</option>
                                        <option>นางสาว</option>
                                        <option>นาง</option>
                                    </select>
                                    @Html.ValidationMessageFor(model => model.nameTitle, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-5">
                                    <label>ชื่อ :</label>
                                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-5">
                                    <label>นามสกุล :</label>
                                    @Html.EditorFor(model => model.surname, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.surname, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label>เลขประจำตัวประชาชน :</label>
                                    @Html.EditorFor(model => model.identificationNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.identificationNumber, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label>ตำแหน่ง :</label>
                                    @Html.DropDownListFor(model => model.position, (IEnumerable<SelectListItem>)ViewBag.PositionView, "ตำแหน่ง", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.position, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label>ระดับ :</label>
                                    @Html.DropDownListFor(model => model.levels, (IEnumerable<SelectListItem>)ViewBag.LevelView, "ระดับ", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.levels, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-building"></i>&nbsp;ข้อมูลสำหรับการติดต่อ (ที่ทำงาน)
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="">เบอร์โทรศัพท์</label>
                                    @Html.EditorFor(model => model.officePhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.officePhoneNumber, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="">เบอร์โทรศัพท์มือถือ</label>
                                    @Html.EditorFor(model => model.moblieNumber, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    @Html.ValidationMessageFor(model => model.moblieNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="">บ้านเลขที่</label>
                                    @Html.EditorFor(model => model.houseNumberOffice, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.houseNumberOffice, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="">ถนน</label>
                                    @Html.EditorFor(model => model.roadOffice, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.roadOffice, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="">ตำบล</label>
                                    @Html.EditorFor(model => model.subDistrictOffice, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.subDistrictOffice, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="">อำเภอ</label>
                                    @Html.EditorFor(model => model.districtOffice, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.districtOffice, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="">จังหวัด</label>
                                    @Html.DropDownListFor(model => model.provinceOffice, new SelectList(ViewBag.proviceView), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.provinceOffice, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="">รหัสไปรษณีย์</label>
                                    @Html.EditorFor(model => model.postalCodeOffice, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.postalCodeOffice, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-home"></i>&nbsp;ข้อมูลสำหรับการติดต่อ (บ้าน)
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="">เบอร์โทรศัพท์</label>
                                    @Html.EditorFor(model => model.moblieNumber, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="">เบอร์โทรศัพท์มือถือ</label>
                                    @Html.EditorFor(model => model.moblieNumber, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="">บ้านเลขที่</label>
                                    @Html.EditorFor(model => model.houseNumberHome, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.houseNumberHome, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="">ถนน</label>
                                    @Html.EditorFor(model => model.roadHome, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.roadHome, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="">ตำบล</label>
                                    @Html.EditorFor(model => model.subDistrictHome, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.subDistrictHome, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="">อำเภอ</label>
                                    @Html.EditorFor(model => model.districtHome, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.districtHome, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="">จังหวัด</label>
                                    @Html.DropDownListFor(model => model.provinceHome, new SelectList(ViewBag.proviceView), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.provinceHome, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="">รหัสไปรษณีย์</label>
                                    @Html.EditorFor(model => model.postalCodeHome, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.postalCodeHome, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">อีเมล์สำหรับการติดต่อสื่อสาร</label>
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-graduation-cap "></i>&nbsp;การศึกษาและความเชี่ยวชาญ
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="">วุฒิการศึกษาสูงสุด</label>
                                    @Html.EditorFor(model => model.education, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.education, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="">มหาวิทยาลัยที่จบการศึกษา</label>
                                    @Html.EditorFor(model => model.workplace, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.workplace, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">ความเชี่ยวชาญ</label>
                                @Html.TextAreaFor(model => model.specialExpertise, new { @class = "form-control", @rows = 3 })
                                @Html.ValidationMessageFor(model => model.specialExpertise, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="">ประสบการณ์ทำงาน</label>
                                @Html.TextAreaFor(model => model.positionWork, new { @class = "form-control", @rows = 3 })
                                @Html.ValidationMessageFor(model => model.positionWork, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="">ผลงานทางวิชาการ</label>
                                @Html.TextAreaFor(model => model.nameAcademic, new { @class = "form-control", @rows = 3 })
                                @Html.ValidationMessageFor(model => model.nameAcademic, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-right">
            <button type="submit" class="btn btn-success btn-lg"><i class="fa fa-save"></i>&nbsp;บันทึก</button>&nbsp;
            <button type="reset" class="btn btn-danger btn-lg"><i class="fa fa-window-close"></i>&nbsp;ยกเลิก</button>
        </div>
    </div>
}