@using PagedList;
@using PagedList.Mvc;
@model IPagedList<E_RIMS.Models.Innovator>
@{
    ViewBag.Title = "ประวัตินวัตกร";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">หน้าแรก</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "ResearcherAndInnovator")">นักวิจัย และนวัตกร</a></li>
        <li class="breadcrumb-item active" aria-current="page">ประวัตินวัตกร</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">
        <h3>ประวัตินักวิจัยและนวัตกร</h3>
    </div>
    <div class="card-body">
        <h5 class="card-title">
            <i class="fa fa-money-bill-alt"></i>&nbsp;@ViewBag.Title&nbsp;<small>
    @if (Session["Role"] != null)
    {
        if (Session["Role"].Equals("Admin"))
        {
            <a href="@Url.Action("CreateInnovator","Innovators")" class="btn btn-info">เพิ่มนวัตกรรายใหม่</a>
        }
    }
</small>
        </h5>
        <hr />
        <div class="card-deck">
            @foreach (var item in Model)
            {
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title text-center">
                                <a href="@Url.Action("DetailInnovator"+"/"+item.id,"Innovators")">
                                    @Html.DisplayFor(modelItem => item.name) @Html.DisplayFor(modelItem => item.surname)
                                </a>
                            </h6>
                            <div class="row">
                                <div class="col text-center">
                                    <img src="@Url.Content(item.image ?? "~/Image/no-camera.png")" class="rounded" style="height:200px">
                                    <p class="card-text">@Html.DisplayFor(modelItem => item.position)</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    เบอร์สำนักงาน:
                                </div>
                                <div class="col-md-6">
                                    @Html.DisplayFor(modelItem => item.officePhoneNumber)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    เบอร์โทรสาร:
                                </div>
                                <div class="col-md-6">
                                    @Html.DisplayFor(modelItem => item.officeFax)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    เบอร์มือถือ:
                                </div>
                                <div class="col-md-6">
                                    @Html.DisplayFor(modelItem => item.moblieNumber)
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <a class="btn btn-sm btn-info" href="@Url.Action("DetailInnovator"+"/"+item.id,"Innovators")">ข้อมูล</a>
                        </div>
                    </div>
                    <br />
                </div>
            }
        </div>

        <div class="row">
            <div class="col-6"></div>
            <div class="col-6">@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))</div>
        </div>
    </div>
</div>


