@{
    ViewBag.Title = "กำกับติดตามงานวิจัยและนวัตกรรม";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">หน้าแรก</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">
        <h3>@ViewBag.Title</h3>
    </div>
    <div class="card-body">
        <h5 class="card-title"><i class="fa fa-money-bill-alt"></i>&nbsp;เลือกการกำกับและติดตาม</h5>
        <hr />

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="card-title">
                            งานวิจัย
                        </div>
                        <a href="@Url.Action("trackResearch","WorkTracking")">
                            <img src="~/Image/researcher.png" class="rounded" alt="จัดการข้อมูลนักวิจัย" style="height:250px;">
                        </a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="card-title">
                            งานนวัตกรรม
                        </div>
                        <a href="@Url.Action("trackInnovation","WorkTracking")">
                            <img src="~/Image/innovator.png" class="rounded" alt="จัดการข้อมูลนักนวัตกร" style="height:250px;">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>