@model E_RIMS.Models.Research
@{
    /**/

    ViewBag.Title = "แก้ไขสถานะกิจกรรม";
}

<script type="text/javascript" src="~/Scripts/updateactivity.js"></script>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">หน้าแรก</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "WorkTracking")">กำกับติดตามงาน</a></li>
        <li class="breadcrumb-item" aria-current="page">@ViewBag.Title</li>
        <li class="breadcrumb-item active" aria-current="page">@Model.name</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">
        <h3>@ViewBag.Title</h3>
    </div>
    @using (Html.BeginForm(Html.BeginForm("updateResearchActivityStatus2", "WorkTracking", FormMethod.Post, new { enctype = "multipart/form-data" })))
    {
        <div class="card-body">
            <div class="card">
                <div class="card-body">
                    <div class="card-title h5">
                        ชื่องานวิจัย: @Model.name
                    </div>
                    <div class="row">
                        <div class="col">ผู้วิจัย: @Model.creator</div>
                        <div class="col">กิจกรรม: @Model.activity2</div>
                    </div>
                    <div class="timeline-container">
                        <ul class="timeline">
                            <li id="planningCheck">วางแผน</li>
                            <li id="workingCheck">ดำเนินการ</li>
                            <li id="finishingCheck">เสร็จสิ้น</li>
                        </ul>
                    </div>
                </div>
            </div>
            <br />
            <div class="card" id="planningCard">
                <div class="card-body">
                    <div class="card-title h5">
                        <i class="fa fa-brain"></i>&nbsp;ผลการวางแผน
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label class="">ผลการดำเนินงาน</label>
                            @Html.TextAreaFor(model => model.planStatusActivity2, new { @class = "form-control", @cols = 50, style = "height : 150px;" })
                        </div>
                        <div class="form-group col-6">
                            <label class="">เอกสารประกอบ</label>
                            <label class="">(.pdf, .docx, .xlsx, .pptx, .rar, .zip, .txt)</label>
                            <input type="file" class="form-control" name="filePlanStatusActivity2HttpPost" />
                            <input type="hidden" name="filePlanStatusActivity2" value="@Model.filePlanStatusActivity2">
                            @Html.ValidationMessageFor(model => model.filePlanStatusActivity2, "", new { @class = "text-danger" })
                            <br />
                            <label>เอกสารประกอบล่าสุด</label> &nbsp;&nbsp;
                            <a href="@Model.filePlanStatusActivity2" class="btn btn-info"><i class="fa fa-file-download"></i>&nbsp;ดาวน์โหลด</a>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="card" id="workingCard">
                <div class="card-body">
                    <div class="card-title h5">
                        <i class="fa fa-briefcase"></i>&nbsp;ผลการดำเนินการ
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label class="">ผลการดำเนินงาน</label>
                            @Html.TextAreaFor(model => model.proceedStatusActivity2, new { @class = "form-control", @cols = 50, style = "height : 150px;" })
                        </div>
                        <div class="form-group col-6">
                            <label class="">เอกสารประกอบ</label>
                            <label class="">(.pdf, .docx, .xlsx, .pptx, .rar, .zip, .txt)</label>
                            <input type="file" class="form-control" name="fileProceedStatusActivity2HttpPost" />
                            <input type="hidden" name="fileProceedStatusActivity2" value="@Model.fileProceedStatusActivity2">
                            @Html.ValidationMessageFor(model => model.fileProceedStatusActivity2, "", new { @class = "text-danger" })
                            <br />
                            <label>เอกสารประกอบล่าสุด</label> &nbsp;&nbsp;
                            <a href="@Model.fileProceedStatusActivity2" class="btn btn-info"><i class="fa fa-file-download"></i>&nbsp;ดาวน์โหลด</a>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="card" id="finishingCard">
                <div class="card-body">
                    <div class="card-title h5">
                        <i class="fa fa-flag-checkered"></i>&nbsp;ผลการเสร็จสิ้น
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label class="">ผลการดำเนินงาน</label>
                            @Html.TextAreaFor(model => model.finishStatusActivity2, new { @class = "form-control", @cols = 50, style = "height : 150px;" })
                        </div>
                        <div class="form-group col-6">
                            <label class="">เอกสารประกอบ</label>
                            <label class="">(.pdf, .docx, .xlsx, .pptx, .rar, .zip, .txt)</label>
                            <input type="file" class="form-control" name="fileFinishStatusActivity2HttpPost" />
                            <input type="hidden" name="fileFinishStatusActivity2" value="@Model.fileFinishStatusActivity2">
                            @Html.ValidationMessageFor(model => model.fileFinishStatusActivity2, "", new { @class = "text-danger" })                            
                            <br />
                            <label>เอกสารประกอบล่าสุด</label> &nbsp;&nbsp;
                            <a href="@Model.fileFinishStatusActivity2" class="btn btn-info"><i class="fa fa-file-download"></i>&nbsp;ดาวน์โหลด</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="name" value="@Model.name">
        <input type="hidden" name="workGroup" value="@Model.workGroup">
        <input type="hidden" name="creator" value="@Model.creator">
        <div class="card-footer text-right">
            <button type="submit" class="btn btn-success">ปรับปรุงสถานะกิจกรรม</button>&nbsp;<button type="reset" class="btn btn-danger">ยกเลิก</button>
        </div>
    }

</div>
