@model E_RIMS.Models.Innovation

@{
    ViewBag.Title = "ปรับปรุงสถานะงานนวัตกรรม";
}

<script src="~/Scripts/changeTextToSymbol.js"></script>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">หน้าแรก</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "WorkTracking")">กำกับติดตามงาน</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("trackInnovation", "WorkTracking")">กำกับติดตามงานนวัตกรรม</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">
        <h3>@ViewBag.Title</h3>
    </div>


    <div class="card-body">
        <h5 class="card-title">
            <i class="fa fa-lightbulb"></i>&nbsp;@ViewBag.Title
        </h5>
        <hr />
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h6><i class="fa fa-user-circle"></i>&nbsp;นวัตกร และข้อมูลงานนวัตกรรม</h6>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-2">
                                <label class="">ปีงบประมาณ</label>
                                <label class="form-control">@Model.budgetYear</label>
                            </div>
                            <div class="form-group col-2">
                                <label class="">ประเภทผลงาน</label>
                                <label class="form-control">@Model.type</label>
                            </div>
                            <div class="form-group col-8">
                                <label class="">ชื่อเรื่อง</label>
                                <label class="form-control">@Model.name</label>
                            </div>
                            <div class="form-group col-4">
                                <label class="">กลุ่มงาน</label>
                                <label class="form-control">@Model.workGroup</label>
                            </div>
                            <div class="form-group col-8">
                                <label class="">ผู้จัดทำ</label>
                                <label class="form-control">@Model.creator</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h6><i class="fa fa-info"></i>&nbsp;รายละเอียดงานนวัตกรรม</h6>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-4">
                                <label class="">ที่มาและความสำคัญ</label>
                                <label class="form-control">@Model.backgroudAndImportance</label>
                            </div>
                            <div class="form-group col-4">
                                <label class="">วัตถุประสงค์</label>
                                <label class="form-control">@Model.objective</label>
                            </div>
                            <div class="form-group col-4">
                                <label class="">กลุ่มเป้าหมาย/ผู้ใช้ประโยชน์/ผู้ที่เกี่ยวข้อง</label>
                                <label class="form-control">@Model.targetGroup</label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-4">
                                <label class="text-sm-left">ประโยชน์/ผลลัพธ์/ผลกระทบที่คาดว่าจะได้รับ</label>
                                <label class="form-control">@Model.benefit</label>
                            </div>
                            <div class="form-group col-4">
                                <label class="">ไฟล์ที่เกี่ยวข้อง</label>
                                <p><a href="@Url.Content(Model.files ?? "~/Image/no-document.png")" class="btn btn-info"><i class="fa fa-download"></i>&nbsp;ดาวน์โหลด</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h6><i class="fa fa-calendar-check"></i>&nbsp;ระยะเวลาดำเนินงานนวัตกรรม</h6>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm(Html.BeginForm("updateResearchStatus", "WorkTracking", FormMethod.Post, new { enctype = "multipart/form-data" })))
                        {
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col" rowspan="2" class="align-middle" style="width:5%">#</th>
                                        <th scope="col" rowspan="2" class="align-middle" style="width:15%">สถานะ</th>
                                        <th scope="col" rowspan="2" class="align-middle" style="width:20%">ขั้นตอนการดำเนินงาน</th>
                                        <th scope="col" colspan="12" class="text-center" style="width:60%">ระยะเวลาการดำเนินงาน</th>
                                    </tr>
                                    <tr>
                                        <th scope="col">ต.ค.</th>
                                        <th scope="col">พ.ย.</th>
                                        <th scope="col">ธ.ค.</th>
                                        <th scope="col">ม.ค.</th>
                                        <th scope="col">ก.พ.</th>
                                        <th scope="col">มี.ค.</th>
                                        <th scope="col">เม.ย.</th>
                                        <th scope="col">พ.ค.</th>
                                        <th scope="col">มิ.ย.</th>
                                        <th scope="col">ก.ค.</th>
                                        <th scope="col">ส.ค.</th>
                                        <th scope="col">ก.ย.</th>
                                    </tr>
                                </thead>
                                <tbody class="small">
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <select class="form-control form-control-sm" name="statusActivity1">
                                                <option>ยังไม่เริ่ม</option>
                                                <option>วางแผนแล้ว</option>
                                                <option>ระหว่างดำเนินงาน</option>
                                                <option>เสร็จสิ้นแล้ว</option>
                                            </select>
                                        </td>
                                        <td>@Model.activity1</td>
                                        <td>@Model.isOct1</td>
                                        <td>@Model.isNov1</td>
                                        <td>@Model.isDec1</td>
                                        <td>@Model.isJan1</td>
                                        <td>@Model.isFeb1</td>
                                        <td>@Model.isMar1</td>
                                        <td>@Model.isApr1</td>
                                        <td>@Model.isMay1</td>
                                        <td>@Model.isJun1</td>
                                        <td>@Model.isJul1</td>
                                        <td>@Model.isAug1</td>
                                        <td>@Model.isSep1</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>
                                            <select class="form-control form-control-sm" name="statusActivity2">
                                                <option>ยังไม่เริ่ม</option>
                                                <option>วางแผนแล้ว</option>
                                                <option>ระหว่างดำเนินงาน</option>
                                                <option>เสร็จสิ้นแล้ว</option>
                                            </select>
                                        </td>
                                        <td>@Model.activity2</td>
                                        <td>@Model.isOct2</td>
                                        <td>@Model.isNov2</td>
                                        <td>@Model.isDec2</td>
                                        <td>@Model.isJan2</td>
                                        <td>@Model.isFeb2</td>
                                        <td>@Model.isMar2</td>
                                        <td>@Model.isApr2</td>
                                        <td>@Model.isMay2</td>
                                        <td>@Model.isJun2</td>
                                        <td>@Model.isJul2</td>
                                        <td>@Model.isAug2</td>
                                        <td>@Model.isSep2</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>
                                            <select class="form-control form-control-sm" name="statusActivity3">
                                                <option>ยังไม่เริ่ม</option>
                                                <option>วางแผนแล้ว</option>
                                                <option>ระหว่างดำเนินงาน</option>
                                                <option>เสร็จสิ้นแล้ว</option>
                                            </select>
                                        </td>
                                        <td>@Model.activity3</td>
                                        <td>@Model.isOct3</td>
                                        <td>@Model.isNov3</td>
                                        <td>@Model.isDec3</td>
                                        <td>@Model.isJan3</td>
                                        <td>@Model.isFeb3</td>
                                        <td>@Model.isMar3</td>
                                        <td>@Model.isApr3</td>
                                        <td>@Model.isMay3</td>
                                        <td>@Model.isJun3</td>
                                        <td>@Model.isJul3</td>
                                        <td>@Model.isAug3</td>
                                        <td>@Model.isSep3</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>
                                            <select class="form-control form-control-sm" name="statusActivity4">
                                                <option>ยังไม่เริ่ม</option>
                                                <option>วางแผนแล้ว</option>
                                                <option>ระหว่างดำเนินงาน</option>
                                                <option>เสร็จสิ้นแล้ว</option>
                                            </select>
                                        </td>
                                        <td>@Model.activity4</td>
                                        <td>@Model.isOct4</td>
                                        <td>@Model.isNov4</td>
                                        <td>@Model.isDec4</td>
                                        <td>@Model.isJan4</td>
                                        <td>@Model.isFeb4</td>
                                        <td>@Model.isMar4</td>
                                        <td>@Model.isApr4</td>
                                        <td>@Model.isMay4</td>
                                        <td>@Model.isJun4</td>
                                        <td>@Model.isJul4</td>
                                        <td>@Model.isAug4</td>
                                        <td>@Model.isSep4</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>
                                            <select class="form-control form-control-sm" name="statusActivity5">
                                                <option>ยังไม่เริ่ม</option>
                                                <option>วางแผนแล้ว</option>
                                                <option>ระหว่างดำเนินงาน</option>
                                                <option>เสร็จสิ้นแล้ว</option>
                                            </select>
                                        </td>
                                        <td>@Model.activity5</td>
                                        <td>@Model.isOct5</td>
                                        <td>@Model.isNov5</td>
                                        <td>@Model.isDec5</td>
                                        <td>@Model.isJan5</td>
                                        <td>@Model.isFeb5</td>
                                        <td>@Model.isMar5</td>
                                        <td>@Model.isApr5</td>
                                        <td>@Model.isMay5</td>
                                        <td>@Model.isJun5</td>
                                        <td>@Model.isJul5</td>
                                        <td>@Model.isAug5</td>
                                        <td>@Model.isSep5</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>
                                            <select class="form-control form-control-sm" name="statusActivity6">
                                                <option>ยังไม่เริ่ม</option>
                                                <option>วางแผนแล้ว</option>
                                                <option>ระหว่างดำเนินงาน</option>
                                                <option>เสร็จสิ้นแล้ว</option>
                                            </select>
                                        </td>
                                        <td>@Model.activity6</td>
                                        <td>@Model.isOct6</td>
                                        <td>@Model.isNov6</td>
                                        <td>@Model.isDec6</td>
                                        <td>@Model.isJan6</td>
                                        <td>@Model.isFeb6</td>
                                        <td>@Model.isMar6</td>
                                        <td>@Model.isApr6</td>
                                        <td>@Model.isMay6</td>
                                        <td>@Model.isJun6</td>
                                        <td>@Model.isJul6</td>
                                        <td>@Model.isAug6</td>
                                        <td>@Model.isSep6</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>
                                            <select class="form-control form-control-sm" name="statusActivity7">
                                                <option>ยังไม่เริ่ม</option>
                                                <option>วางแผนแล้ว</option>
                                                <option>ระหว่างดำเนินงาน</option>
                                                <option>เสร็จสิ้นแล้ว</option>
                                            </select>
                                        </td>
                                        <td>@Model.activity7</td>
                                        <td>@Model.isOct7</td>
                                        <td>@Model.isNov7</td>
                                        <td>@Model.isDec7</td>
                                        <td>@Model.isJan7</td>
                                        <td>@Model.isFeb7</td>
                                        <td>@Model.isMar7</td>
                                        <td>@Model.isApr7</td>
                                        <td>@Model.isMay7</td>
                                        <td>@Model.isJun7</td>
                                        <td>@Model.isJul7</td>
                                        <td>@Model.isAug7</td>
                                        <td>@Model.isSep7</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>
                                            <select class="form-control form-control-sm" name="statusActivity8">
                                                <option>ยังไม่เริ่ม</option>
                                                <option>วางแผนแล้ว</option>
                                                <option>ระหว่างดำเนินงาน</option>
                                                <option>เสร็จสิ้นแล้ว</option>
                                            </select>
                                        </td>
                                        <td>@Model.activity8</td>
                                        <td>@Model.isOct8</td>
                                        <td>@Model.isNov8</td>
                                        <td>@Model.isDec8</td>
                                        <td>@Model.isJan8</td>
                                        <td>@Model.isFeb8</td>
                                        <td>@Model.isMar8</td>
                                        <td>@Model.isApr8</td>
                                        <td>@Model.isMay8</td>
                                        <td>@Model.isJun8</td>
                                        <td>@Model.isJul8</td>
                                        <td>@Model.isAug8</td>
                                        <td>@Model.isSep8</td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>
                                            <select class="form-control form-control-sm" name="statusActivity9">
                                                <option>ยังไม่เริ่ม</option>
                                                <option>วางแผนแล้ว</option>
                                                <option>ระหว่างดำเนินงาน</option>
                                                <option>เสร็จสิ้นแล้ว</option>
                                            </select>
                                        </td>
                                        <td>@Model.activity9</td>
                                        <td>@Model.isOct9</td>
                                        <td>@Model.isNov9</td>
                                        <td>@Model.isDec9</td>
                                        <td>@Model.isJan9</td>
                                        <td>@Model.isFeb9</td>
                                        <td>@Model.isMar9</td>
                                        <td>@Model.isApr9</td>
                                        <td>@Model.isMay9</td>
                                        <td>@Model.isJun9</td>
                                        <td>@Model.isJul9</td>
                                        <td>@Model.isAug9</td>
                                        <td>@Model.isSep9</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>
                                            <select class="form-control form-control-sm" name="statusActivity10">
                                                <option>ยังไม่เริ่ม</option>
                                                <option>วางแผนแล้ว</option>
                                                <option>ระหว่างดำเนินงาน</option>
                                                <option>เสร็จสิ้นแล้ว</option>
                                            </select>
                                        </td>
                                        <td>@Model.activity10</td>
                                        <td>@Model.isOct10</td>
                                        <td>@Model.isNov10</td>
                                        <td>@Model.isDec10</td>
                                        <td>@Model.isJan10</td>
                                        <td>@Model.isFeb10</td>
                                        <td>@Model.isMar10</td>
                                        <td>@Model.isApr10</td>
                                        <td>@Model.isMay10</td>
                                        <td>@Model.isJun10</td>
                                        <td>@Model.isJul10</td>
                                        <td>@Model.isAug10</td>
                                        <td>@Model.isSep10</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="15" class="text-right"><a href="" class="btn btn-success"><i class="fa fa-check"></i>&nbsp;แก้ไขสถานะกิจกรรมในโครงการนี้</a>&nbsp;<a href="#" class="btn btn-danger"><i class="fa fa-undo"></i>&nbsp;รีเซ็ตหน้านี้</a></td>
                                    </tr>
                                </tfoot>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
