@model E_RIMS.Models.Research

@{
    ViewBag.Title = "ปรับปรุงสถานะการดำเนินงานวิจัย";
}

<script src="~/Scripts/changeTextToSymbol.js"></script>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">หน้าแรก</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "WorkTracking")">กำกับติดตามงาน</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("trackResearch", "WorkTracking")">กำกับติดตามงานวิจัย</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">
        <h3>@ViewBag.Title</h3>
    </div>
    @using (Html.BeginForm(Html.BeginForm("updateResearchStatus", "WorkTracking", FormMethod.Post, new { enctype = "multipart/form-data" })))
    {
        <div class="card-body">
            <h5 class="card-title"><i class="fa fa-project-diagram"></i>&nbsp;การกำกับติดตามงานวิจัย</h5>
            <hr />
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h6>
                                <i class="fa fa-user-circle"></i>&nbsp;ผู้ดำเนินงานวิจัย และข้อมูลงานวิจัย&nbsp;
                                @if (Session["Role"] != null)
                                {
                                    if (Session["Role"].Equals("Admin"))
                                    {
                                        <a href="@Url.Action("EditResearch"+"/"+Model.id, "Research")" class="btn btn-sm btn-info"><i class="fa fa-edit"></i>&nbsp;แก้ไขข้อมูลงานวิจัย</a>
                                    }
                                }

                            </h6>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-2">
                                    <label class="">ประเภทงาน</label>
                                    <label class="form-control" name="type">@Model.type</label>
                                    <input type="hidden" name="type" value="@Model.type">
                                </div>
                                <div class="form-group col-2">
                                    <label class="">ปีงบประมาณ</label>
                                    <label class="form-control" name="budgetYear">@Model.budgetYear</label>
                                    <input type="hidden" name="budgetYear" value="@Model.budgetYear">
                                </div>
                                <div class="form-group col-8">
                                    <label class="">ชื่อเรื่อง</label>
                                    <label class="form-control" name="name">@Model.name</label>
                                    <input type="hidden" name="name" value="@Model.name">
                                </div>
                                <div class="form-group col-6">
                                    <label class="">ผู้จัดทำ</label>
                                    <label class="form-control" name="creator">@Model.creator</label>
                                    <input type="hidden" name="creator" value="@Model.creator">
                                </div>
                                <div class="form-group col-6">
                                    <label class="">กลุ่มงาน</label>
                                    <label class="form-control" name="workGroup">@Model.workGroup</label>
                                    <input type="hidden" name="workGroup" value="@Model.workGroup">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h6><i class="fa fa-info"></i>&nbsp;รายละเอียดงานวิจัย</h6>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-3">
                                    <label class="">บทนำ</label>
                                    <label class="form-control" name="preface">@Model.preface</label>
                                    <input type="hidden" name="preface" value="@Model.preface">
                                </div>
                                <div class="form-group col-3">
                                    <label class="">วัตถุประสงค์</label>
                                    <label class="form-control" name="objective">@Model.objective</label>
                                    <input type="hidden" name="objective" value="@Model.objective">
                                </div>
                                <div class="form-group col-3">
                                    <label class="">ประโยชน์ที่คาดว่าจะได้รับ</label>
                                    <label class="form-control" name="benefit">@Model.benefit</label>
                                    <input type="hidden" name="benefit" value="@Model.benefit">
                                </div>
                                <div class="form-group col-3">
                                    <label class="">รูปแบบงานวิจัย</label>
                                    <label class="form-control" name="format">@Model.format</label>
                                    <input type="hidden" name="format" value="@Model.format">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-3">
                                    <label class="">สถานที่ศึกษา</label>
                                    <label class="form-control" name="school">@Model.school</label>
                                    <input type="hidden" name="school" value="@Model.school">
                                </div>
                                <div class="form-group col-3">
                                    <label class="">ระยะเวลาที่ศึกษา</label>
                                    <label class="form-control" name="timeOfStudy">@Model.timeOfStudy</label>
                                    <input type="hidden" name="timeOfStudy" value="@Model.timeOfStudy">

                                </div>
                                <div class="form-group col-3">
                                    <label class="">ประชากรที่ศึกษา</label>
                                    <label class="form-control" name="population">@Model.population</label>
                                    <input type="hidden" name="population" value="@Model.population">
                                </div>
                                <div class="form-group col-3">
                                    <label class="">วิธีการเลือกตัวอย่าง</label>
                                    <label class="form-control" name="sampleMethod">@Model.sampleMethod</label>
                                    <input type="hidden" name="sampleMethod" value="@Model.sampleMethod">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-3">
                                    <label class="">เครื่องมือที่ใช้ในการวิจัย</label>
                                    <label class="form-control" name="toolsOfResearch">@Model.toolsOfResearch</label>
                                    <input type="hidden" name="toolsOfResearch" value="@Model.toolsOfResearch">
                                </div>
                                <div class="form-group col-3">
                                    <label class="">การวิเคราะห์ข้อมูล</label>
                                    <label class="form-control" name="dataAnalysis">@Model.dataAnalysis</label>
                                    <input type="hidden" name="dataAnalysis" value="@Model.dataAnalysis">
                                </div>
                                <div class="form-group col-3">
                                    <label class="">วิธีการเก็บรวบรวมข้อมูล</label>
                                    <label class="form-control" name="dataMethodCollect">@Model.dataMethodCollect</label>
                                    <input type="hidden" name="dataMethodCollect" value="@Model.dataMethodCollect">
                                </div>
                                <div class="form-group col-3">
                                    <label class="">ไฟล์ที่เกี่ยวข้อง</label>
                                    <input type="hidden" name="files" value="@Model.files">
                                    <p><a href="@Url.Content(Model.files ?? "~/Image/no-document.png")" class="btn btn-info"><i class="fa fa-download"></i>&nbsp;ดาวน์โหลด</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h6><i class="fa fa-calendar-check"></i>&nbsp;ระยะเวลาดำเนินงานวิจัย</h6>
                        </div>
                        <div class="card-body">

                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col" rowspan="2" class="align-middle" style="width:5%"></th>
                                        <th scope="col" rowspan="2" class="align-middle" style="width:30%">สถานะ</th>
                                        <th scope="col" rowspan="2" class="align-middle" style="width:5%"></th>
                                        <th scope="col" rowspan="2" class="align-middle" style="width:40%">ขั้นตอนการดำเนินงาน</th>
                                        <th scope="col" colspan="12" class="text-center" style="width:20%">ระยะเวลาการดำเนินงาน</th>
                                    </tr>
                                    <tr>
                                        <th scope="col">ต.ค.</th>
                                        <th scope="col">พ.ย.</th>
                                        <th scope="col">ธ.ค.</th>
                                        <th scope="col">ม.ค.</th>
                                        <th scope="col">ก.พ.</th>
                                        <th scope="col">มี.ค.</th>
                                        <th scope="col">เม.ย.</th>
                                        <th scope="col">พ.ค.</th>
                                        <th scope="col">มิ.ย.</th>
                                        <th scope="col">ก.ค.</th>
                                        <th scope="col">ส.ค.</th>
                                        <th scope="col">ก.ย.</th>
                                    </tr>
                                </thead>
                                <tbody class="small">
                                    <tr>
                                        <td>1</td>
                                        <td><label class="form-control">@Model.statusActivity1</label></td>
                                        <input type="hidden" name="statusActivity1" value="@Model.statusActivity1">
                                        <td>
                                            <a href="@Url.Action("updateResearchActivityStatus1"+"/"+Model.id, new { status = Model.statusActivity1 })" class="btn btn-info btn-sm">แก้ไข</a>
                                        </td>
                                        <td name="activity1">@Model.activity1</td>
                                        <input type="hidden" name="activity1" value="@Model.activity1">
                                        <td>@Html.CheckBox("isOct1", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isNov1", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isDec1", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isJan1", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isFeb1", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isMar1", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isApr1", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isMay1", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isJun1", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isJul1", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isAug1", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isSep1", new { @class = "form-check", @disabled = "disabled" })</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td><label class="form-control">@Model.statusActivity2</label></td>
                                        <input type="hidden" name="statusActivity2" value="@Model.statusActivity2">
                                        <td>
                                            <a href="@Url.Action("updateResearchActivityStatus2"+"/"+Model.id, new { status = Model.statusActivity2 })" class="btn btn-info btn-sm">แก้ไข</a>
                                        </td>
                                        <td name="activity2">@Model.activity2</td>
                                        <input type="hidden" name="activity2" value="@Model.activity2">
                                        <td>@Html.CheckBox("isOct2", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isNov2", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isDec2", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isJan2", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isFeb2", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isMar2", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isApr2", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isMay2", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isJun2", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isJul2", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isAug2", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isSep2", new { @class = "form-check", @disabled = "disabled" })</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td><label class="form-control">@Model.statusActivity3</label></td>
                                        <input type="hidden" name="statusActivity3" value="@Model.statusActivity3">
                                        <td>
                                            <a href="@Url.Action("updateResearchActivityStatus3"+"/"+Model.id, new { status = Model.statusActivity3 })" class="btn btn-info btn-sm">แก้ไข</a>
                                        </td>
                                        <td name="activity3">@Model.activity3</td>
                                        <input type="hidden" name="activity3" value="@Model.activity3">
                                        <td>@Html.CheckBox("isOct3", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isNov3", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isDec3", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isJan3", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isFeb3", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isMar3", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isApr3", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isMay3", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isJun3", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isJul3", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isAug3", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isSep3", new { @class = "form-check", @disabled = "disabled" })</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td><label class="form-control">@Model.statusActivity4</label></td>
                                        <input type="hidden" name="statusActivity4" value="@Model.statusActivity4">
                                        <td>
                                            <a href="@Url.Action("updateResearchActivityStatus4"+"/"+Model.id, new { status = Model.statusActivity4 })" class="btn btn-info btn-sm">แก้ไข</a>
                                        </td>
                                        <td name="activity4">@Model.activity4</td>
                                        <input type="hidden" name="activity4" value="@Model.activity4">
                                        <td>@Html.CheckBox("isOct4", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isNov4", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isDec4", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isJan4", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isFeb4", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isMar4", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isApr4", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isMay4", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isJun4", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isJul4", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isAug4", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isSep4", new { @class = "form-check", @disabled = "disabled" })</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>
                                            <label class="form-control">@Model.statusActivity5</label>
                                        </td>
                                        <input type="hidden" name="statusActivity5" value="@Model.statusActivity5">
                                        <td>
                                            <a href="@Url.Action("updateResearchActivityStatus5"+"/"+Model.id, new { status = Model.statusActivity5 })" class="btn btn-info btn-sm">แก้ไข</a>
                                        </td>
                                        <td name="activity5">@Model.activity5</td>
                                        <input type="hidden" name="activity5" value="@Model.activity5">
                                        <td>@Html.CheckBox("isOct5", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isNov5", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isDec5", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isJan5", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isFeb5", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isMar5", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isApr5", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isMay5", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isJun5", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isJul5", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isAug5", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isSep5", new { @class = "form-check", @disabled = "disabled" })</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>
                                            <label class="form-control">@Model.statusActivity6</label>
                                        </td>
                                        <input type="hidden" name="statusActivity6" value="@Model.statusActivity6">
                                        <td>
                                            <a href="@Url.Action("updateResearchActivityStatus6"+"/"+Model.id, new { status = Model.statusActivity6 })" class="btn btn-info btn-sm">แก้ไข</a>
                                        </td>
                                        <td name="activity6">@Model.activity6</td>
                                        <input type="hidden" name="activity6" value="@Model.activity6">
                                        <td>@Html.CheckBox("isOct6", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isNov6", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isDec6", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isJan6", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isFeb6", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isMar6", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isApr6", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isMay6", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isJun6", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isJul6", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isAug6", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isSep6", new { @class = "form-check", @disabled = "disabled" })</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>
                                            <label class="form-control">@Model.statusActivity7</label>
                                        </td>
                                        <input type="hidden" name="statusActivity7" value="@Model.statusActivity7">
                                        <td>
                                            <a href="@Url.Action("updateResearchActivityStatus7"+"/"+Model.id, new { status = Model.statusActivity7 })" class="btn btn-info btn-sm">แก้ไข</a>
                                        </td>
                                        <td name="activity7">@Model.activity7</td>
                                        <input type="hidden" name="activity7" value="@Model.activity7">
                                        <td>@Html.CheckBox("isOct7", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isNov7", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isDec7", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isJan7", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isFeb7", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isMar7", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isApr7", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isMay7", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isJun7", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isJul7", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isAug7", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isSep7", new { @class = "form-check", @disabled = "disabled" })</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>
                                            <label class="form-control">@Model.statusActivity8</label>
                                        </td>
                                        <input type="hidden" name="statusActivity8" value="@Model.statusActivity8">
                                        <td>
                                            <a href="@Url.Action("updateResearchActivityStatus8"+"/"+Model.id, new { status = Model.statusActivity8 })" class="btn btn-info btn-sm">แก้ไข</a>
                                        </td>
                                        <td name="activity8">@Model.activity8</td>
                                        <input type="hidden" name="activity8" value="@Model.activity8">
                                        <td>@Html.CheckBox("isOct8", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isNov8", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isDec8", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isJan8", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isFeb8", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isMar8", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isApr8", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isMay8", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isJun8", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isJul8", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isAug8", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isSep8", new { @class = "form-check", @disabled = "disabled" })</td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>
                                            <label class="form-control">@Model.statusActivity9</label>
                                        </td>
                                        <input type="hidden" name="statusActivity9" value="@Model.statusActivity9">
                                        <td>
                                            <a href="@Url.Action("updateResearchActivityStatus9"+"/"+Model.id, new { status = Model.statusActivity9 })" class="btn btn-info btn-sm">แก้ไข</a>
                                        </td>
                                        <td name="activity9">@Model.activity9</td>
                                        <input type="hidden" name="activity9" value="@Model.activity9">
                                        <td>@Html.CheckBox("isOct9", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isNov9", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isDec9", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isJan9", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isFeb9", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isMar9", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isApr9", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isMay9", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isJun9", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isJul9", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isAug9", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isSep9", new { @class = "form-check", @disabled = "disabled" })</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>
                                            <label class="form-control">@Model.statusActivity10</label>
                                        </td>
                                        <input type="hidden" name="statusActivity10" value="@Model.statusActivity10">
                                        <td>
                                            <a href="@Url.Action("updateResearchActivityStatus10"+"/"+Model.id, new { status = Model.statusActivity10 })" class="btn btn-info btn-sm">แก้ไข</a>
                                        </td>
                                        <td name="activity10">@Model.activity10</td>
                                        <input type="hidden" name="activity10" value="@Model.activity10">
                                        <td>@Html.CheckBox("isOct10", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isNov10", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isDec10", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isJan10", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isFeb10", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isMar10", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isApr10", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isMay10", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isJun10", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isJul10", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isAug10", new { @class = "form-check", @disabled = "disabled" })</td>
                                        <td>@Html.CheckBox("isSep10", new { @class = "form-check", @disabled = "disabled" })</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="15" class="text-right"><button type="submit" class="btn btn-success"><i class="fa fa-check"></i>&nbsp;บันทึกการดำเนินงาน</button></td>
                                    </tr>
                                </tfoot>
                            </table>
                            <input type="hidden" name="useNumberOfActivities" value="@ViewBag.useNumberofActivities">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
