@using PagedList;
@using PagedList.Mvc;
@model IPagedList<E_RIMS.Models.DocumentDownload>

@{
    ViewBag.Title = "เอกสารดาวน์โหลด";
}

<br><br>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">หน้าแรก</a></li>
        <li class="breadcrumb-item active" aria-current="page">เอกสารดาวน์โหลด</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">
        <h3>จัดการเอกสารดาวน์โหลด&nbsp;<a href="@Url.Action("CreateDownloadDocument", "DocumentDownload")" class="btn btn-info"><i class="fa fa-plus"></i>&nbsp;เพิ่มเอกสารใหม่</a></h3>
    </div>
    <div class="card-body">
        <h5 class="card-title"><i class="fa fa-book-medical"></i>&nbsp;@ViewBag.Title</h5>
        <hr />
        <div class="form-row">

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">เอกสาร</th>
                            <th scope="col">วันที่อัพโหลด</th>
                            <th scope="col">ดาวน์โหลด</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>

                            <td><a href="@Url.Action("DocumentDetail"+"/"+item.id,"DocumentDownload")">@Html.DisplayFor(modelItem => item.name)</a></td>
                            <td>@Convert.ToDateTime(item.date).ToString("dd/MM/yyyy")</td>
                            <td><a href="@Html.DisplayFor(model => item.docUpload)">@Html.DisplayFor(modelItem => item.name)</a></td>

                        </tr>
                        }
                    </tbody>
                </table>
            
        </div>
    </div>
</div>