@model E_RIMS.Models.Researcher
@{
    ViewBag.Title = "เพิ่มข้อมูลนักวิจัยใหม่";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">หน้าแรก</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Researcher")">นักวิจัย</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
    </ol>
</nav>

@using (Html.BeginForm(Html.BeginForm("CreateResearcher", "Researcher", FormMethod.Post, new { enctype = "multipart/form-data" })))
{
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-header">
            <h3>จัดการข้อมูลนักวิจัย</h3>
        </div>
        <div class="card-body">
            <h5 class="card-title">
                <i class="fa fa-user-circle"></i>&nbsp;@ViewBag.Title
            </h5>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-info-circle"></i>&nbsp;ข้อมูลทั่วไป
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>รูปประจำตัว</label>
                                <input type="file" class="form-control-file" name="image2">
                                @Html.ValidationMessageFor(model => model.image2, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <label>คำนำหน้า</label>
                                    <select class="form-control" name="nameTitle">
                                        <option>นาย</option>
                                        <option>นางสาว</option>
                                        <option>นาง</option>
                                    </select>
                                    @Html.ValidationMessageFor(model => model.nameTitle, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-5">
                                    <label>ชื่อ :</label>
                                    <input type="text" class="form-control" name="name" required>
                                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-5">
                                    <label>นามสกุล :</label>
                                    <input type="text" class="form-control" name="surname" required>
                                    @Html.ValidationMessageFor(model => model.surname, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label>เลขประจำตัวประชาชน :</label>
                                    <input type="text" class="form-control" name="identificationNumber" required>
                                    @Html.ValidationMessageFor(model => model.identificationNumber, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label>ตำแหน่ง :</label>
                                    @Html.DropDownListFor(model => model.position, (IEnumerable<SelectListItem>)ViewBag.PositionView, "ตำแหน่ง", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.position, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label>ระดับ :</label>
                                    @Html.DropDownListFor(model => model.levels, (IEnumerable<SelectListItem>)ViewBag.LevelView, "ระดับ", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.levels, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-building"></i>&nbsp;ข้อมูลสำหรับการติดต่อ (ที่ทำงาน)
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="">เบอร์โทรศัพท์</label>
                                    <input type="text" class="form-control" id="" name="officePhoneNumber">
                                    @Html.ValidationMessageFor(model => model.officePhoneNumber, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="">เบอร์โทรศัพท์มือถือ</label>
                                    <input type="text" class="form-control" id="" name="moblieNumber" placeholder="081-2345678" required>
                                    @Html.ValidationMessageFor(model => model.moblieNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="">บ้านเลขที่</label>
                                    <input type="text" class="form-control" id="" name="houseNumberOffice">
                                    @Html.ValidationMessageFor(model => model.houseNumberOffice, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="">ถนน</label>
                                    <input type="text" class="form-control" id="" name="roadOffice">
                                    @Html.ValidationMessageFor(model => model.roadOffice, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="">ตำบล</label>
                                    <input type="text" class="form-control" id="" name="subDistrictOffice">
                                    @Html.ValidationMessageFor(model => model.subDistrictOffice, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="">อำเภอ</label>
                                    <input type="text" class="form-control" id="" name="districtOffice">
                                    @Html.ValidationMessageFor(model => model.districtOffice, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="">จังหวัด</label>
                                    @Html.DropDownListFor(model => model.provinceOffice, new SelectList(ViewBag.proviceView), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.provinceOffice, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="">รหัสไปรษณีย์</label>
                                    <input type="text" class="form-control" id="" name="postalCodeOffice">
                                    @Html.ValidationMessageFor(model => model.postalCodeOffice, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-home"></i>&nbsp;ข้อมูลสำหรับการติดต่อ (บ้าน)
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="">เบอร์โทรศัพท์</label>
                                    <input type="text" class="form-control" id="">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="">เบอร์โทรศัพท์มือถือ</label>
                                    <input type="text" class="form-control" id="">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="">บ้านเลขที่</label>
                                    <input type="text" class="form-control" id="" name="houseNumberHome">
                                    @Html.ValidationMessageFor(model => model.houseNumberHome, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="">ถนน</label>
                                    <input type="text" class="form-control" id="" name="roadHome">
                                    @Html.ValidationMessageFor(model => model.roadHome, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="">ตำบล</label>
                                    <input type="text" class="form-control" id="" name="subDistrictHome">
                                    @Html.ValidationMessageFor(model => model.subDistrictHome, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="">อำเภอ</label>
                                    <input type="text" class="form-control" id="" name="districtHome">
                                    @Html.ValidationMessageFor(model => model.districtHome, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="">จังหวัด</label>
                                    @Html.DropDownListFor(model => model.provinceHome, new SelectList(ViewBag.proviceView), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.provinceHome, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="">รหัสไปรษณีย์</label>
                                    <input type="text" class="form-control" id="" name="postalCodeHome">
                                    @Html.ValidationMessageFor(model => model.postalCodeHome, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">อีเมลสำหรับการติดต่อสื่อสาร</label>
                                <input type="text" class="form-control" id="" name="Email" placeholder="Mr.researcher@gmail.com" required>
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-graduation-cap "></i>&nbsp;การศึกษาและความเชี่ยวชาญ
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="">วุฒิการศึกษา</label>
                                    <input type="text" class="form-control" id="" name="education">
                                    @Html.ValidationMessageFor(model => model.education, "", new { @class = "text-danger" })
                                    <br />
                                    <label for="">วุฒิการศึกษา</label>
                                    <input type="text" class="form-control" id="" name="education2">
                                    @Html.ValidationMessageFor(model => model.education2, "", new { @class = "text-danger" })
                                    <br />
                                    <label for="">วุฒิการศึกษา</label>
                                    <input type="text" class="form-control" id="" name="education3">
                                    @Html.ValidationMessageFor(model => model.education3, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="">มหาวิทยาลัยที่จบการศึกษา</label>
                                    <input type="text" class="form-control" id="" name="workplace">
                                    @Html.ValidationMessageFor(model => model.workplace, "", new { @class = "text-danger" })
                                    <br />
                                    <label for="">มหาวิทยาลัยที่จบการศึกษา</label>
                                    <input type="text" class="form-control" id="" name="workplace2">
                                    @Html.ValidationMessageFor(model => model.workplace2, "", new { @class = "text-danger" })
                                    <br />
                                    <label for="">มหาวิทยาลัยที่จบการศึกษา</label>
                                    <input type="text" class="form-control" id="" name="workplace3">
                                    @Html.ValidationMessageFor(model => model.workplace3, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">ความเชี่ยวชาญ</label>
                                <textarea class="form-control" id="" rows="3" name="specialExpertise"></textarea>
                                @Html.ValidationMessageFor(model => model.specialExpertise, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="">ประสบการณ์ทำงาน</label>
                                <textarea class="form-control" id="" rows="3" name="positionWork"></textarea>
                                @Html.ValidationMessageFor(model => model.positionWork, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="">ผลงานทางวิชาการ</label>
                                <textarea class="form-control" id="" rows="3" name="nameAcademic"></textarea>
                                @Html.ValidationMessageFor(model => model.nameAcademic, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-right">
            <button type="submit" class="btn btn-success btn-lg"><i class="fa fa-save"></i>&nbsp;บันทึก</button>&nbsp;
            <button type="reset" class="btn btn-danger btn-lg"><i class="fa fa-window-close"></i>&nbsp;ยกเลิก</button>
        </div>
    </div>
}

