@model E_RIMS.Models.Research
@{
    ViewBag.Title = "ข้อมูลงานวิจัย";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Home")">หน้าแรก</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Research")">งานวิจัย</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">
        <h3>จัดการข้อมูลงานวิจัย</h3>
    </div>
    <form>
        <div class="card-body">
            <h5 class="card-title">
                <i class="fa fa-book-medical"></i>&nbsp;@ViewBag.Title
            </h5>
            <hr />

            <div class="form-row">
                <div class="form-group col-4">
                    <label class="">ประเภท</label>
                    <label class="form-control">@Model.type</label>
                </div>
                <div class="form-group col-4">
                    <label class="">ชื่อเรื่อง</label>
                    <label class="form-control">@Model.name</label>
                </div>
                <div class="form-group col-4">
                    <label class="">ผู้จัดทำ</label>
                    <label class="form-control">@Model.creator</label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <label class="">บทคัดย่อ</label>
                    <textarea class="form-control" rows="5">@Model.preface</textarea>
                </div>
                <div class="form-group col-6 text-center">
                    <a href="@Model.files" target="_blank" class="btn btn-info" style="margin-top:50px;"><i class="fa fa-file-download"></i>&nbsp;ดาวน์โหลดไฟล์เอกสารงานวิจัย</a>
                </div>
            </div>
        </div>
    </form>
</div>

