@model E_RIMS.Models.Innovation
@{
    ViewBag.Title = "แก้ไขนวัตกรรม";
}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Home")">หน้าแรก</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Innovation")">งานนวัตกรรม</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
    </ol>
</nav>


<div class="card">
    <div class="card-header">
        <h3>จัดการข้อมูลงานนวัตกรรม</h3>
    </div>
    @using (Html.BeginForm(Html.BeginForm("EditInnovation", "Innovation", FormMethod.Post, new { enctype = "multipart/form-data" })))
    {
        <div class="card-body">
            <h5 class="card-title">
                <i class="fa fa-lightbulb"></i>&nbsp;@ViewBag.Title
            </h5>
            <hr />
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h6><i class="fa fa-user-circle"></i>&nbsp;นวัตกร และข้อมูลงานนวัตกรรม</h6>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-2">
                                    <label class="">ปีงบประมาณ</label>
                                    <select class="form-control custom-select-sm" name="budgetYear">
                                        <option>2561</option>
                                        <option>2562</option>
                                        <option>2563</option>
                                        <option>2564</option>
                                        <option>2565</option>
                                    </select>
                                </div>
                                <div class="form-group col-2">
                                    <label class="">ประเภทผลงาน</label>
                                    <select class="form-control custom-select-sm" name="type">
                                        <option>Product</option>
                                        <option>Process</option>
                                        <option>Service</option>
                                        <option>Policy/Strategic</option>
                                        @Html.ValidationMessageFor(model => model.type, "", new { @class = "text-danger" })
                                    </select>
                                </div>
                                <div class="form-group col-8">
                                    <label class="">ชื่อเรื่อง</label>
                                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-4">
                                    <label class="">กลุ่มงาน</label>
                                    <select class="form-control custom-select-sm" name="workGroup">
                                        <option>งานเภสัชกรรม</option>
                                        <option>บริหารทั่วไป</option>
                                        <option>พัฒนานวัตกรรมและวิจัย และงานควบคุมโรคเขตเมือง</option>
                                        <option>พัฒนาระบบบริหารองค์กร และงานสถาปัตยกรรมข้อมูล</option>
                                        <option>ยุทธศาสตร์ แผนงาน และเครือข่าย</option>
                                        <option>ระบาดวิทยาและตอบโต้ภาวะฉุกเฉินทางด้านสาธารณสุข</option>
                                        <option>โรคติดต่อ</option>
                                        <option>โรคไม่ติดต่อ</option>
                                        <option>ศูนย์ควบคุมโรคติดต่อนำโดยแมลงที่ 6.1 ศรีราชา</option>
                                        <option>ศูนย์ควบคุมโรคติดต่อนำโดยแมลงที่ 6.2 สระแก้ว</option>
                                        <option>ศูนย์ควบคุมโรคติดต่อนำโดยแมลงที่ 6.3 ระยอง</option>
                                        <option>ศูนย์ควบคุมโรคติดต่อนำโดยแมลงที่ 6.4 ตราด</option>
                                        <option>ศูนย์ควบคุมโรคติดต่อนำโดยแมลงที่ 6.5 จันทบุรี</option>
                                        <option>สื่อสารความเสี่ยงโรคและภัยสุขภาพ</option>
                                        <option>หน่วยกามโรคและโรคเอดส์ที่ 6.1 บางละมุง</option>
                                        <option>ห้องปฏิบัติการทางการแพทย์ด้านควบคุมโรค</option>
                                    </select>
                                    @Html.ValidationMessageFor(model => model.workGroup, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-8">
                                    <label class="">ผู้จัดทำ</label>
                                    @Html.DropDownListFor(model => model.creator, (IEnumerable<SelectListItem>)ViewBag.InnovatorView, "ผู้จัดทำ", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.creator, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h6><i class="fa fa-info"></i>&nbsp;รายละเอียดงานนวัตกรรม</h6>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-4">
                                    <label class="">ที่มาและความสำคัญ</label>
                                    @Html.TextAreaFor(model => model.backgroudAndImportance, new { @class = "form-control", @rows = 3 })
                                    @Html.ValidationMessageFor(model => model.backgroudAndImportance, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-4">
                                    <label class="">วัตถุประสงค์</label>
                                    @Html.TextAreaFor(model => model.objective, new { @class = "form-control", @rows = 3 })
                                    @Html.ValidationMessageFor(model => model.objective, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-4">
                                    <label class="">กลุ่มเป้าหมาย/ผู้ใช้ประโยชน์/ผู้ที่เกี่ยวข้อง</label>
                                    @Html.TextAreaFor(model => model.targetGroup, new { @class = "form-control", @rows = 3 })
                                    @Html.ValidationMessageFor(model => model.targetGroup, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-4">
                                    <label class="text-sm-left">ประโยชน์/ผลลัพธ์/ผลกระทบที่คาดว่าจะได้รับ</label>
                                    @Html.TextAreaFor(model => model.benefit, new { @class = "form-control", @rows = 3 })
                                    @Html.ValidationMessageFor(model => model.benefit, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-4">
                                    <label class="">อัพโหลดไฟล์ที่เกี่ยวข้อง</label>
                                    <label class="">ไฟล์เดิม: <a href="@Model.files" class="btn btn-info"><i class="fa fa-file-download"></i>&nbsp;ดาวน์โหลด</a></label>
                                    <input type="hidden" name="files" value="@Model.files">
                                    <label class="">หรือ อัพโหลดไฟล์ใหม่</label>
                                    <input type="file" class="form-control-file" name="files2" />
                                    @Html.ValidationMessageFor(model => model.files2, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-4">
                                    <label class="">อัพโหลดเอกสารรายงานฉบับสมบูรณ์</label>
                                    <label class="">เอกสาร: <a href="@Model.finalFiles" class="btn btn-info"><i class="fa fa-file-download"></i>&nbsp;ดาวน์โหลด</a></label>
                                    <input type="hidden" name="files" value="@Model.finalFiles">
                                    <input type="file" class="form-control-file" name="finalFilesHttpPost" />
                                    @Html.ValidationMessageFor(model => model.finalFiles, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h6><i class="fa fa-calendar-check"></i>&nbsp;ระยะเวลาดำเนินงาน</h6>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col" rowspan="2" class="align-middle">#</th>
                                        <th scope="col" rowspan="2" class="align-middle">ขั้นตอนการดำเนินงาน</th>
                                        <th scope="col" colspan="12" class="text-center">ระยะเวลาการดำเนินงาน</th>
                                    </tr>
                                    <tr>
                                        <th scope="col">ต.ค.</th>
                                        <th scope="col">พ.ย.</th>
                                        <th scope="col">ธ.ค.</th>
                                        <th scope="col">ม.ค.</th>
                                        <th scope="col">ก.พ.</th>
                                        <th scope="col">มี.ค.</th>
                                        <th scope="col">เม.ย.</th>
                                        <th scope="col">พ.ค.</th>
                                        <th scope="col">มิ.ย.</th>
                                        <th scope="col">ก.ค.</th>
                                        <th scope="col">ส.ค.</th>
                                        <th scope="col">ก.ย.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>@Html.EditorFor(model => model.activity1, new { htmlAttributes = new { @class = "form-control" } })</td>
                                        <td>@Html.CheckBox("isOct1", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isNov1", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isDec1", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isJan1", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isFeb1", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isMar1", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isApr1", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isMay1", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isJun1", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isJul1", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isAug1", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isSep1", new { @class = "form-check" })</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>@Html.EditorFor(model => model.activity2, new { htmlAttributes = new { @class = "form-control" } })</td>
                                        <td>@Html.CheckBox("isOct2", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isNov2", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isDec2", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isJan2", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isFeb2", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isMar2", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isApr2", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isMay2", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isJun2", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isJul2", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isAug2", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isSep2", new { @class = "form-check" })</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>@Html.EditorFor(model => model.activity3, new { htmlAttributes = new { @class = "form-control" } })</td>
                                        <td>@Html.CheckBox("isOct3", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isNov3", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isDec3", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isJan3", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isFeb3", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isMar3", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isApr3", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isMay3", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isJun3", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isJul3", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isAug3", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isSep3", new { @class = "form-check" })</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>@Html.EditorFor(model => model.activity4, new { htmlAttributes = new { @class = "form-control" } })</td>
                                        <td>@Html.CheckBox("isOct4", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isNov4", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isDec4", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isJan4", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isFeb4", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isMar4", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isApr4", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isMay4", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isJun4", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isJul4", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isAug4", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isSep4", new { @class = "form-check" })</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>@Html.EditorFor(model => model.activity5, new { htmlAttributes = new { @class = "form-control" } })</td>
                                        <td>@Html.CheckBox("isOct5", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isNov5", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isDec5", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isJan5", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isFeb5", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isMar5", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isApr5", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isMay5", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isJun5", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isJul5", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isAug5", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isSep5", new { @class = "form-check" })</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>@Html.EditorFor(model => model.activity6, new { htmlAttributes = new { @class = "form-control" } })</td>
                                        <td>@Html.CheckBox("isOct6", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isNov6", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isDec6", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isJan6", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isFeb6", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isMar6", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isApr6", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isMay6", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isJun6", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isJul6", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isAug6", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isSep6", new { @class = "form-check" })</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>@Html.EditorFor(model => model.activity7, new { htmlAttributes = new { @class = "form-control" } })</td>
                                        <td>@Html.CheckBox("isOct7", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isNov7", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isDec7", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isJan7", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isFeb7", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isMar7", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isApr7", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isMay7", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isJun7", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isJul7", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isAug7", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isSep7", new { @class = "form-check" })</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>@Html.EditorFor(model => model.activity8, new { htmlAttributes = new { @class = "form-control" } })</td>
                                        <td>@Html.CheckBox("isOct8", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isNov8", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isDec8", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isJan8", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isFeb8", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isMar8", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isApr8", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isMay8", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isJun8", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isJul8", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isAug8", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isSep8", new { @class = "form-check" })</td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>@Html.EditorFor(model => model.activity9, new { htmlAttributes = new { @class = "form-control" } })</td>
                                        <td>@Html.CheckBox("isOct9", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isNov9", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isDec9", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isJan9", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isFeb9", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isMar9", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isApr9", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isMay9", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isJun9", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isJul9", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isAug9", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isSep9", new { @class = "form-check" })</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>@Html.EditorFor(model => model.activity10, new { htmlAttributes = new { @class = "form-control" } })</td>
                                        <td>@Html.CheckBox("isOct10", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isNov10", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isDec10", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isJan10", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isFeb10", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isMar10", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isApr10", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isMay10", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isJun10", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isJul10", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isAug10", new { @class = "form-check" })</td>
                                        <td>@Html.CheckBox("isSep10", new { @class = "form-check" })</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="form-group text-right">
                <div class="form-group">
                    <button type="submit" class="btn btn-success text-center"><i class="fa fa-check-circle"></i>&nbsp;บันทึก</button>
                    <button type="reset" class="btn btn-danger text-center"><i class="fa fa-times-circle"></i>&nbsp;ยกเลิก</button>
                </div>
            </div>
        </div>
        <input type="hidden" name="workOverview" value="@ViewBag.workOverview">
    }
</div>

