@model E_RIMS.Models.Journal

@{
    ViewBag.Title = "รายละเอียดวารสาร";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">หน้าแรก</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">
        <h3>วารสาร</h3>
    </div>
    <div class="card-body">
        <h5 class="card-title">
            <i class="fa fa-newspaper"></i>&nbsp;@ViewBag.Title
        </h5>
        <hr />
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-4"><img src="@Url.Content(Model.image)" class="img-fluid border-dark" /></div>
                    <div class="col-8">
                        <div class="card-title">
                            <h4>
                                @Html.DisplayFor(model => model.name)
                                (@Html.DisplayFor(model => model.date))
                            </h4>
                        </div>
                        <p>@Html.DisplayFor(model => model.description)</p>
                        <p><a href="@Url.Content(Model.files)" class="btn btn-info"><i class="fa fa-download"></i>&nbsp;ดาวน์โหลดวารสาร</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
