
@model E_RIMS.Models.Member
@{
    ViewBag.Title = "แก้ไขบัญชีผู้ใช้";
}

<script>
    $(document).ready(function () {
        $("#rdbResearcher").click(function () {
            $("#dpResearcher").attr("disabled", false);
            $("#dpInnovator").attr("disabled", true);
        });

        $("#rdbInnovator").click(function () {
            $("#dpInnovator").attr("disabled", false);
            $("#dpResearcher").attr("disabled", true);
        });
    });
</script>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">หน้าแรก</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Register")">จัดการผู้ใช้</a></li>
        <li class="breadcrumb-item active" aria-current="page">แก้ไขบัญชีผู้ใช้</li>
    </ol>
</nav>

@using (Html.BeginForm(Html.BeginForm("EditRegister", "Register", FormMethod.Post, new { enctype = "multipart/form-data" })))
{
    <div class="card">
        <div class="card-header">
            <h3><i class="fa fa-plus fa-user"></i>&nbsp;แก้ไขบัญชีผู้ใช้</h3>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label class="font-weight-bold">ประเภทบัญชี</label>
            </div>
            <div class="form-group">
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" name="radio" id="rdbResearcher" value="Researcher">
                    <label class="form-check-label">นักวิจัย</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" name="radio" id="rdbInnovator" value="Innovator">
                    <label class="form-check-label">นวัตกร</label>
                </div>
            </div>
            <div class="form-group row-cols-3">
                <label class="font-weight-bold">เจ้าของบัญชี</label>
                @Html.DropDownListFor(model => model.researcherOwner, (IEnumerable<SelectListItem>)ViewBag.ResearcherView, "รายชื่อนักวิจัย", new { @class = "form-control", id = "dpResearcher", @disabled = "disabled" })
                <br />
                @Html.DropDownListFor(model => model.innovatorOwner, (IEnumerable<SelectListItem>)ViewBag.InnovatorView, "รายชื่อนวัตกร", new { @class = "form-control", id = "dpInnovator", @disabled = "disabled" })
            </div>
            <div class="form-group">
                <label class="font-weight-bold"><i class="fa fa-user-alt"></i> ชื่อผู้ใช้</label>
                @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
            </div>
            <label class="font-weight-bold">กำหนดรหัสผ่านใหม่</label>
            <div class="form-group">
                <label class="font-weight-bold"><i class="fa fa-key"></i> รหัสผ่าน</label>
                <input class="form-control" type="password" name="password">
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label class="font-weight-bold"><i class="fa fa-key"></i> ยืนยันรหัสผ่านอีกครั้ง</label>
                <input class="form-control" type="password" name="confirmPassword">
                @Html.ValidationMessageFor(model => model.confirmPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label class="font-weight-bold"><i class="fa fa-envelope"></i> อีเมล์</label>
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="card-footer text-right">
            <button type="submit" class="btn btn-success btn-lg"><i class="fa fa-save"></i>&nbsp;บันทึก</button>&nbsp;
            <button type="reset" class="btn btn-danger btn-lg"><i class="fa fa-window-close"></i>&nbsp;ยกเลิก</button>
        </div>
    </div>
}

