@using PagedList;
@using PagedList.Mvc;
@model IPagedList<E_RIMS.Models.PublicRelation>

@{
    ViewBag.Title = "ข่าวประชาสัมพันธ์";
}

<br /><br />

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="@Url.Action("Index", "Home")">หน้าแรก</a></li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">
        <h3>ข่าวประชาสัมพันธ์&nbsp;<a href="@Url.Action("CreateNews", "PublicRelation")" class="btn btn-info"><i class="fa fa-plus"></i>&nbsp;เพิ่มข่าวประชาสัมพันธ์</a></h3>
    </div>
    <div class="card-body">
        <h5 class="card-title"><i class="fa fa-book-medical"></i>&nbsp;@ViewBag.Title</h5>
        <hr />
        <div class="form-row">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">วันที่</th>
                        <th scope="col">ชื่อเรื่อง</th>
                        <th scope="col">รายละเอียด</th>
                        <th scope="col">HTML Link</th>
                        <th scope="col">เอกสาร</th>
                        <th scope="col">การกระทำ</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.date)</td>
                            <td>@Html.DisplayFor(modelItem => item.newsName)</td>
                            <td>@Html.DisplayFor(modelItem => item.description)</td>
                            <td><a href="@Url.Action("news"+"/"+item.id,"PublicRelation")">@Url.Action("news" + "/" + item.id, "PublicRelation")</a></td>
                            <td><a href="@Html.DisplayFor(modelItem => item.docUpload)" class="btn btn-info btn-sm"><i class="fa fa-file"></i></a></td>
                            <td><a href="@Url.Action("EditNews"+"/"+item.id,"PublicRelation")" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></a>&nbsp;<a href="@Url.Action("DeleteNews"+"/"+item.id,"PublicRelation")" class="btn btn-danger btn-sm"><i class="fa fa-eraser"></i></a></td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6" class="text-center">
                            <div class="row">
                                <div class="col-6"></div>
                                <div class="col-6">@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))</div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>




