@model E_RIMS.Models.PublicRelation

@{
    ViewBag.Title = "DeleteNews";
}

<h2>DeleteNews</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PublicRelation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.newsName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.newsName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.htmlLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.htmlLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.views)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.views)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.docUpload)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.docUpload)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
