<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #3ace3a;">
        <a class="navbar-brand text-white" href="@Url.Action("Index","Home")">
            <img src="~/Image/IconHome.png" width="40" height="40" class="d-inline-block align-top" />
            &nbsp; E-RIMS : Chonburi
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="@Url.Action("Index","Expert")"><img src="~/Image/users-solid.svg" width="20" height="20">&nbsp;ทำเนียบผู้เชี่ยวชาญ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="@Url.Action("Index","ResearcherAndInnovator")"><img src="~/Image/book-solid.svg" width="20" height="20">&nbsp;ประวัตินักวิจัยและนวัตกรรม</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="@Url.Action("Index","TreasuryWork")"><img src="~/Image/database-solid.svg" width="20" height="20">&nbsp;คลังผลงาน</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#"><img src="~/Image/search-dollar-solid.svg" width="20" height="20">&nbsp;แหล่งทุนวิจัย</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#"><img src="~/Image/book-open-solid.svg" width="20" height="20">&nbsp;ประเด็นหัวข้อวิจัย</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="@Url.Action("Index","WorkTracking")"><img src="~/Image/tasks-solid.svg" width="20" height="20">&nbsp;การกำกับติดตาม</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#"><img src="~/Image/download-solid.svg" width="20" height="20">&nbsp;เอกสารดาวน์โหลด</a>
                </li>

            </ul>
            </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto"></ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="ค้นหา" aria-label="ค้นหา">
                    </form>
                </div>
    </nav>



    <div class="container body-content">
        @RenderBody()
        <hr/>
        <footer>
            <p>&copy; Prototype -- @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
