<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ระบบจัดการงานวิจัย นวัตกรรม (E-RIMS) @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/all.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Sarabun&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-custom">
            <a class="navbar-brand" href="@Url.Action("Index","Home")">
                <img src="~/Image/odpc6_logo.png" class="d-inline-block" style="height:60px;"/>
                &nbsp; E-RIMS: ODPC6 Chonburi
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="#">
                            <i class="fa fa-calendar"></i>&nbsp;การกำกับติดตาม
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="@Url.Action("Index","ResearcherAndInnovator")">
                            &nbsp;<i class="fa fa-users"></i>&nbsp;ประวัตินักวิจัยและนวัตกรรม
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="@Url.Action("Index","TreasuryWork")">
                            <i class="fa fa-database"></i>&nbsp;คลังผลงาน
                        </a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle nav-link" data-toggle="dropdown"
                           aria-expanded="false" href="#">
                            <i class="fa fa-info-circle"></i>&nbsp;ข้อมูลสำหรับนักวิจัย&nbsp;
                        </a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" role="presentation" href="@Url.Action("Index", "Funding")"><i class="fa fa-piggy-bank"></i>&nbsp;แหล่งทุนวิจัย</a>
                            <a class="dropdown-item" role="presentation" href="@Url.Action("Index", "ResearchTopic")"><i class="fa fa-th-list"></i>&nbsp;ประเด็นหัวข้อวิจัย</a>
                            <a class="dropdown-item" role="presentation" href="@Url.Action("Index", "Expert")"><i class="fa fa-user-md"></i>&nbsp;ทำเนียบผู้เชี่ยวชาญ</a>
                            <a class="dropdown-item" role="presentation" href="@Url.Action("Index", "Journal")"><i class="fa fa-book"></i>&nbsp;วารสารสคร.6</a>
                            <a class="dropdown-item" role="presentation" href="@Url.Action("Index", "KnowledgeBox")"><i class="fa fa-bookmark"></i>&nbsp;กล่องความรู้</a>
                            <div class="dropdown-divider" role="presentation"></div>
                            <a class="dropdown-item" role="presentation" href="@Url.Action("Index", "DocumentDownload")"><i class="fa fa-download"></i>&nbsp;เอกสารดาวน์โหลด</a>
                        </div>
                    </li>
                </ul>
            </div>
            <!--<ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="@Url.Action("Index","Expert")"><img src="~/Image/users-solid.svg" width="20" height="20">&nbsp;ทำเนียบผู้เชี่ยวชาญ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="@Url.Action("Index","ResearcherAndInnovator")"><img src="~/Image/book-solid.svg" width="20" height="20">&nbsp;ประวัตินักวิจัยและนวัตกรรม</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="@Url.Action("Index","TreasuryWork")"><img src="~/Image/database-solid.svg" width="20" height="20">&nbsp;คลังผลงาน</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#"><img src="~/Image/search-dollar-solid.svg" width="20" height="20">&nbsp;แหล่งทุนวิจัย</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#"><img src="~/Image/book-open-solid.svg" width="20" height="20">&nbsp;ประเด็นหัวข้อวิจัย</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="@Url.Action("Index","WorkTracking")"><img src="~/Image/tasks-solid.svg" width="20" height="20">&nbsp;การกำกับติดตาม</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#"><img src="~/Image/download-solid.svg" width="20" height="20">&nbsp;เอกสารดาวน์โหลด</a>
                </li>
                <li class="dropdown nav-item">
                    <a class="dropdown-toggle nav-link" data-toggle="dropdown"
                       aria-expanded="false" href="#">
                        <i class="fa fa-info-circle"></i>&nbsp;ข้อมูลสำหรับนักวิจัย&nbsp;
                    </a>
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item" role="presentation"
                           href="#"><i class="fa fa-money"></i>&nbsp;แหล่งทุนวิจัย</a><a class="dropdown-item"
                                                                                         role="presentation" href="#">
                            <i class="fa fa-th-list"></i>&nbsp;ประเด็นหัวข้อวิจัย
                        </a><a class="dropdown-item"
                               role="presentation" href="#">
                            <i class="fa fa-user-md"></i>&nbsp;ทำเนียบผู้เชี่ยวชาญ
                        </a><a class="dropdown-item"
                               role="presentation" href="#"><i class="fa fa-book"></i>&nbsp;วารสารสคร.6</a><a class="dropdown-item" role="presentation" href="#">
                            <i class="fa fa-bookmark"></i>&nbsp;องค์ความรู้
                        </a>
                        <div class="dropdown-divider" role="presentation"></div><a class="dropdown-item"
                                                                                   role="presentation" href="#"><i class="fa fa-download"></i>&nbsp;เอกสารดาวน์โหลด</a>
                    </div>
                </li>
            </ul>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto"></ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="ค้นหา" aria-label="ค้นหา">
                </form>
            </div>-->
        </nav>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <h6><i class="fa fa-stethoscope"></i>&nbsp;บริการ</h6>
                    <ul>
                        <li><a href="#">ที่ปรึกษางานวิจัย</a></li>
                        <li><a href="#">พัฒนางานวิจัย</a></li>
                        <li>บริการงานวิจัย<a href="#"></a></li>
                    </ul>
                </div>
                <div class="col-sm-3 col-md-3">
                    <h6><i class="fa fa-building"></i>&nbsp;เกี่ยวกับเรา</h6>
                    <ul>
                        <li><a href="#">ข้อมูลทั่วไป</a></li>
                        <li><a href="#">ทีมของเรา</a></li>
                        <li><a href="#">ติดต่อเรา</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 col-md-3">
                    <h6><i class="fa fa-link"></i>&nbsp;ลิ้งก์ที่น่าสนใจ</h6>
                    <ul>
                        <li><a href="#">เว็บไซต์กระทรวงฯ</a></li>
                        <li><a href="#">เว็บไซต์กรมฯ</a></li>
                        <li><a href="#">เว็บไซต์ห้องสมุดงานวิจัย</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 col-md-3">
                    <p>&copy; ส่วนงานวิจัย สำนักควบคุมโรคที่ 6 ชลบุรี Prototype - @DateTime.Now.Year</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
