<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ระบบจัดการงานวิจัย นวัตกรรม (E-RIMS) @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/all.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Sarabun&display=swap" rel="stylesheet">
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Image/ico.ico" rel="icon" />

</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-custom">
            <a class="navbar-brand" href="@Url.Action("Index","Home")">
                <img src="~/Image/odpc6_logo.png" class="d-inline-block" style="height:60px;" />
                &nbsp; E-RIMS: ODPC6 Chonburi
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="nav navbar-nav ml-auto">
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle nav-link" data-toggle="dropdown"
                           aria-expanded="false" href="#">
                            <i class="fa fa-book-medical"></i>&nbsp;งานวิจัยและนวัตกรรม&nbsp;
                        </a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" role="presentation" href="@Url.Action("Index", "ResearchAndInnovation")">
                                <i class="fa fa-database"></i>&nbsp;เพิ่ม แก้ไข ข้อมูลงานวิจัยและนวัตกรรม
                            </a>
                            <a class="dropdown-item" role="presentation" href="@Url.Action("Index", "WorkTracking")">
                                <i class="fa fa-calendar"></i>&nbsp;กำกับติดตามงาน
                            </a>
                        </div>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="@Url.Action("Index","ResearcherAndInnovator")">
                            &nbsp;<i class="fa fa-users"></i>&nbsp;ประวัตินักวิจัยและนวัตกร
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="@Url.Action("Index","TreasuryWork")">
                            <i class="fa fa-database"></i>&nbsp;คลังผลงาน
                        </a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle nav-link" data-toggle="dropdown"
                           aria-expanded="false" href="#">
                            <i class="fa fa-info-circle"></i>&nbsp;ข้อมูลสำหรับนักวิจัย&nbsp;
                        </a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" role="presentation" href="@Url.Action("Index", "Funding")"><i class="fa fa-piggy-bank"></i>&nbsp;แหล่งทุนวิจัย</a>
                            <a class="dropdown-item" role="presentation" href="@Url.Action("Index", "ResearchTopic")"><i class="fa fa-th-list"></i>&nbsp;ประเด็นหัวข้อวิจัย</a>
                            <a class="dropdown-item" role="presentation" href="@Url.Action("Index", "Expert")"><i class="fa fa-user-md"></i>&nbsp;ทำเนียบผู้เชี่ยวชาญ</a>
                            <a class="dropdown-item" role="presentation" href="@Url.Action("Index", "Journal")"><i class="fa fa-book"></i>&nbsp;วารสารสคร.6</a>
                            <a class="dropdown-item" role="presentation" href="@Url.Action("Index", "KnowledgeBox")"><i class="fa fa-bookmark"></i>&nbsp;กล่องความรู้</a>
                            <div class="dropdown-divider" role="presentation"></div>
                            <a class="dropdown-item" role="presentation" href="@Url.Action("Index", "DocumentDownload")"><i class="fa fa-download"></i>&nbsp;เอกสารดาวน์โหลด</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container body-content">
        @RenderBody()
        <br/>
        <div class="card">
            <div class="card-body">
                <footer class="navbar navbar-fixed-bottom">
                    <div class="container">

                        <div class="row">
                            <div class="col-sm-3 col-md-3">
                                <h6><i class="fa fa-stethoscope"></i>&nbsp;บริการ</h6>
                                <ul>
                                    <li><a href="#">ที่ปรึกษางานวิจัย</a></li>
                                    <li><a href="#">พัฒนางานวิจัย</a></li>
                                    <li>บริการงานวิจัย<a href="#"></a></li>
                                </ul>
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <h6><i class="fa fa-building"></i>&nbsp;เกี่ยวกับเรา</h6>
                                <ul>
                                    <li><a href="#">ข้อมูลทั่วไป</a></li>
                                    <li><a href="#">ทีมของเรา</a></li>
                                    <li><a href="#">ติดต่อเรา</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <h6><i class="fa fa-link"></i>&nbsp;ลิ้งก์ที่น่าสนใจ</h6>
                                <ul>
                                    <li><a href="#">เว็บไซต์กระทรวงฯ</a></li>
                                    <li><a href="#">เว็บไซต์กรมฯ</a></li>
                                    <li><a href="#">เว็บไซต์ห้องสมุดงานวิจัย</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <p>&copy; ส่วนงานวิจัย สำนักควบคุมโรคที่ 6 ชลบุรี</p>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            </div>
        </div>
</body>
</html>
